
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
build/
library/
local/
native
temp/

#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

.gradle/
*.iml